/* ProfileDetails.css */
.profile-details {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: white;
    background-color: #393E46;
    max-width: 800px;
    margin: auto;
}

.profile-header {
    display: flex;
    color: white;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border: 2px solid #333;
}

.profile-info {
    flex: 1;
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.profile-info p {
    margin: 5px 0;
    font-size: 16px;
    color: white;
}

.profile-info strong {
    color: white;
}

.profile-achievements,
.profile-education,
.profile-experience {
    margin-top: 20px;
}

.profile-achievements h3,
.profile-education h3,
.profile-experience h3 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}

.profile-achievements ul,
.profile-education ul,
.profile-experience ul {
    list-style-type: disc;
    margin-left: 20px;
}

.profile-achievements li,
.profile-education li,
.profile-experience li {
    margin: 5px 0;
    font-size: 16px;
    color: white;
}