.sidebar {
  width: 250px;
  background-color: black;
  color: white;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.client-section {
  margin-top: 10px;
}

.client-item {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.client-item:hover {
  background-color: #666;
}

sidebar .logout-button {
    background-color: red;
    /* Red background for logout button */
    color: #fff;
    /* White text */
    border: none;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    /* Fixed at the bottom */
    bottom: 0;
    /* Align to the bottom of the sidebar */
    width: 100%;
    /* Full width of the sidebar */
}
.sidebar .logout-button:hover {
    background-color: darkred;
    /* Darker red on hover */
}
